*
{
    box-sizing: border-box;
}

#titulo
{
padding:5px; 
text-align-last: center;
}
#local
{
height: 250px;
width: max-content 250px;
}

h1{
font-size: 80px; 
}

h2{
    font-size: 50px; 
}
#prod{
    width: max-content 150px; 
    height: 150px;
}
#producto1, #producto2, #producto3
{
    text-align: center;
    border-style: solid;
    border-color:#1abc9c75; 
}
#producto1
{
    background-color:white;
    
}
#producto2
{
    background-color:white;
}
#producto3
{
    background-color:white;
}

.row {  
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color:white;
    border-collapse: collapse;

}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 33.3%;
    padding: 20px;
    border-style: solid;
    border-color: white;
    text-align: center;
}
#box{
    border-style: solid;
    border-color:#1abc9c75; 
}
  
  /* Clear floats after the columns */
  .row:after {
    padding: 20px;
    content: "";
    display: table;
    clear: both;
  }


/* On screens that are 992px wide or less, go from four columns to two columns 
@media screen and (max-width: 992px) {
    .column {
      width: 33.33%;
    }
  }
  */
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

----------------------------

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  align-content: center;
  
}

/* Header/logo Title */
.header {
  padding: 8px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Footer */
.footer {
padding: 20px;
text-align: center;
background: #ddd;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .row {   
        flex-direction: column;
    }
}

.button {
    border: none;
    color: #1abc9c;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;   
}
.button1 {
        background-color: #1abc9ca6; 
        color: white; 
        border: 2px solid #1abc9c;
      }
      
.button1:hover 
{
        background-color: #4cae4fa6;
        color: white;
}